<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
<meta charset="utf-8">
<title>Formulario de personas</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>

<body>

	<div class="container mt-4">
		<div class="col-sm-12">
			<form th:action="@{/rubro_save}" th:object=${rubro} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>
							<input th:field="*{Rubro_Nombre}" type="text"
								class="form-control" disabled="disabled"
								style="border: none; background: border-box; font-size: inherit; font-style: italic;" />
						</h3>
						<div class="row">
							<div class="col-6"></div>
							<div class="col-4"></div>
							<div class="col-2">
								<a th:href="@{/rubro_listar}" class="btn btn-warning">Regresar</a>
							</div>
						</div>

					</div>

					<!-- ------------------------------------------------------------------------------------------ -->
					<div class="card-body">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="rubro">Rubro:</label>
									<input id="rubro" th:field="*{Rubro_id}" type="text" class="form-control" readonly="readonly"/>
								</div>
								<!--  
								<div class="form-group">
									<label for="empleado">Empleado:</label>
									<input id="empleado" th:field="*{Emp_id}" type="text" class="form-control" readonly="readonly"/>
								</div>
								-->
								<div class="form-group">
									<label for="estado">Estado_id:</label>
									<input id="estado" th:field="*{Estado_id}" type="text" class="form-control" readonly="readonly"/>
								</div>
								<div class="form-group">
									<label for="nombre">Nombre del Rubro:</label>
									<input id="nombre" th:field="*{Rubro_Nombre}" type="text" class="form-control" readonly="readonly"/>
								</div>
								<div class="form-group">
									<label for="fecha">Fecha de actualización:</label>
									<input id="fecha" th:field="*{Rubro_Fec_Actualizacion}" type="text" class="form-control" readonly="readonly"/>
								</div>
								<div class="form-group">
									<label for="ejecucion">Tipo de ejecución:</label>
									<input id="ejecucion" th:field="*{Tipo_Ejecucion_id}" type="text" class="form-control" readonly="readonly"/>
								</div>
								<div class="form-group">
									<label for="solicitud">Solicitud:</label>
									<input id="solicitud" th:field="*{Ind_Solicitud}" type="text" class="form-control" readonly="readonly"/>
								</div>
							</div>
							
							<div class="col-sm-6">
								<div class="form-group">
									<label for="validador">Validador Categoría:</label>
									<input id="validador" th:field="*{Id_Validador_Categoria}" type="number" class="form-control" required min="0" max="99" />
								</div>
								<div class="form-group">
									<label for="stock">En Stock:</label>
									<input id="stock" th:field="*{En_Stock}" type="number" class="form-control" required min="0" max="9" />
								</div>
								<div class="form-group">
									<label for="estatus">Estatus:</label>
									<input id="estatus" th:field="*{Estatus}" type="text" class="form-control" required maxlength="1"  />
								</div>
								<div class="form-group">
									<label for="tipo_rubro">Tipo de rubro:</label>
									<input id="tipo_rubro" th:field="*{Tipo_Rubro}" type="text" class="form-control" required maxlength="1" />
								</div>
								<div class="form-group">
									<label for="organizacion">Organización:</label>
									<input id="organizacion" th:field="*{Id_Organizacion}" type="number" class="form-control" required min="0" max="9" />
								</div>
							</div>
						</div>
					</div>

					<!-- ------------------------------------------------------------------------------------------ -->
					<div class="card-footer">
						<div class="row">
							<div class="col-10">
								<input type="submit" value="Guardar" class="btn btn-success" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>